* {
    font-family: 'Noto Sans TC', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


#questions, #final, #highscores, #yaynay {
    display: none;  
} 

ul.nobullets {
list-style-type: none;
}

.ansBtn, .ansBtn:hover, .ansBtn:active, .ansBtn:focus, .ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: purple;
}


@media (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}